@charset "UTF-8";




@media screen and (max-width: 768px) {
   
    *{
    margin: 0;
    padding: 0;
    }

    header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: black;
    }

    .botao-header{
     font-size: 2rem;
    cursor: pointer;
    color: white;
}

.botao-header:hover{
border: 2px solid white;}
    header h1{
    color: white;}
   
  header div {
   margin: 0 50px;}

#animes{
 display: none;
background: #1a1a1a;}
} 

#animes li{
 list-style: none;
 color: white;
 font-size: 1.8rem;
padding: 10px 20px;}

#animes2{
display: none;
}

#animes2 li{
    list-style: none;
 color: white;
 font-size: .90rem;
padding: 10px 20px;
}

#seta-menu{
font-size: 1.2rem;
cursor: pointer;}

#seta-menu:hover{
transform: translateX(2px);}

a{
text-decoration: none;
color: white;}

a:hover{
 color: rgba(121, 120, 120, 0.575);}