@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




@media screen and (max-width: 768px) {
    
    body{
    background: rgba(10, 9, 9, 0.678);}

    *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    }
    header div img{
    width: 100px;}

    header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    }

    .botao-header{
     font-size: 2rem;
    cursor: pointer;
    color: greenyellow;
}

.botao-header:hover{
color: white;}
    header h1{
        font-size: 1rem;
    color: greenyellow;}
   
  header div {
   margin: 0 50px;}

#animes{
 display: none;
background: #1a1a1a;}
} 

#animes li{
 list-style: none;
 color: white;
 font-size: 1rem;
padding: 10px 20px;
transition:1s;}

#animes a {
text-decoration: none;
color: white;}

#animes2{
display: none;
list-style: none;
}

#animes2 li{
    list-style: none;
 color: white;
 font-size: .70rem;
padding: 10px 20px;
border: 2px solid #202020;
}

#animes2 a{
text-decoration: none;
color: white;}
#animes2 a:hover{
color: greenyellow;}

.seta-menu{
    color: greenyellow;
font-size: .90rem;
cursor: pointer;
padding-left: 5px;}

.seta-menu:hover{
transform: translate(5px);}


#animes3{
display: none;
list-style: none;}

#animes3 li{
    list-style: none;
    color: white;
    font-size: .70rem;
   padding: 10px 20px;
   border: 2px solid #202020;
}

#animes3 a:hover{
 color: greenyellow;}

 #animes4{
display: none;
 list-style: none;}

 #animes4 li{
    list-style: none;
    color: white;
    font-size: .70rem;
   padding: 10px 20px;
   border: 2px solid #202020;
}

#animes4 a:hover{
color: greenyellow;}

#animes5{
display: none;
list-style: none;}

#animes5 li{
   color: white;
font-size: .70rem;
padding: 10px 20px;
border: 2px solid #202020;}

#animes5 a:hover{
color: greenyellow;}

#animes6{
display: none;
list-style: none;}

#animes6 li {
    color: white;
    font-size: .70rem;
    padding: 10px 20px;
    border: 2px solid #202020;
}
#animes6 a:hover{
color: greenyellow;}


#testando{
transition: 5s;}